.hidden {
    display: none;
  }

img {
    margin: auto;
    display: block;
}
.pname {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basketprice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.num {
    display: flex;
    justify-content: right;
    align-items: right;
}

.sum {
    display: flex;
    justify-content: right;
    align-items: right;
}

.updown {
    color: #0075ff;
    font-size: 2em;
    letter-spacing: -5px;
}

.last {
    color:tomato;
    font-size: 10px;
    display: flex;
    justify-content: right;
    align-items: right;
}